In [1]:
import pandas as pd

In [2]:
productDF = pd.read_csv('../data/lazada/product.csv')
reviewDF = pd.read_csv('../data/lazada/review.csv')

In [3]:
# extract anonymous review
nonAnonymousReviewDF = reviewDF[reviewDF['user_fk'] != 0]
nonAnonymousReviewDF.sample(5)

,comment,rating,sku,time,user,user_fk
99642,สั่งให้แฟนokอยู่ครับ,4,UN355HLAA6KOD7ANTH,2017-07-05 01:57:23,วิทูรย์ จำปาหอม,10255598
51988,เสียงดังฟังชัดดีค่ะ,5,AV580ELAA1W8FTANTH,2017-02-11 21:20:43,แมวเหมียว สีม่วง,2142431
43651,ส่งของเร็วมากคุณภาพเกินราคาครับบอกเลย ไม่ซื้อพ...,5,TS154ELAA2WGALANTH,2017-04-24 11:48:10,Aroha C.,2297079
121718,ใช้ดีมากครับ เสียบกล่องแอนดรอยใช้ได้ทันที แถมถ...,5,LO633EL35DTOANTH,2016-02-02 11:11:33,กฤษฎี ฉมาภิสิษฐ,564834
48301,ดีค่ะ,4,SC713FAAAGX4PAANTH,2017-09-08 16:16:16,Supitsha P.,3590539

In [4]:
# select only data complementing each other
productWithReviewDF = productDF[productDF['sku'].isin(nonAnonymousReviewDF['sku'])].copy()
reviewWithProductDF = nonAnonymousReviewDF[nonAnonymousReviewDF['sku'].isin(productDF['sku'])].copy()

In [5]:
print('shape of product df : {}'.format(productWithReviewDF.shape))
print('shape of review df : {}'.format(reviewWithProductDF.shape))

shape of product df : (7392, 4)
shape of review df : (76080, 6)

In [6]:
# drop duplicate
reviewWithProductDF = reviewWithProductDF[~reviewWithProductDF.duplicated(['sku', 'user_fk'])]
print('shape of review after drop dup : {}'.format(reviewWithProductDF.shape))

shape of review after drop dup : (75914, 6)

In [7]:
reviewWithProductCoreDF = reviewWithProductDF.drop(['comment', 'user'], axis=1)
reviewWithProductCoreDF.sample(5)

        rating                 sku                 time  user_fk
120836       4  SK763HAAALAVWQANTH  2017-08-31 16:09:19  5199857
25758        1  GO441ELAA56HAFANTH  2017-07-30 22:17:31  4041396
16636        5  AP067ELAA4K3BUANTH  2017-02-16 20:07:47  5465203
110219       4  WO848FAAA62ESHANTH  2017-03-01 14:29:50  6465121
98103        4  HA496HLAA4384TANTH  2016-11-14 22:19:32  6431224

In [8]:
productWithReviewCoreDF = productWithReviewDF.drop(['url'], axis=1)
productWithReviewCoreDF.sample(5)

,name,price,sku
13463,I-mobile i-TAB DTV (White),1650.0,IM115ELAA8PABIANTH
7374,Novo Double Color Eye Shadow โนโว อายแชโดว์ 2 ...,88.0,NO747HBAAKYF09ANTH
8895,ขายึด ขาจับกล้องติดรถ SJ4000 gopro HD198 R300 ...,48.0,UN355ELAAKPZU7ANTH
14507,Flexible Tripod Size L -Black (Free Mobile pho...,299.0,FL288ELASMLXANTH
5185,Top Bra ชุดชั้นในกระชับไร้รอยต่อ แพ็ค 6 ตัว 6 ...,369.0,TO092FAAA4RQ4IANTH

In [9]:
# export
reviewWithProductCoreDF.to_csv('../data/lazada/clean/review.csv', index=False, encoding='utf-8')
productWithReviewCoreDF.to_csv('../data/lazada/clean/product.csv', index=False, encoding='utf-8')